{% extends 'base.html' %}
{% block content %}
    <main role="main">

        <div class="jumbotron my-1">
            <div class="container">
                <h1 class="display-3">Welcome</h1>
                <p>This is a Web-site for a simple Coding or informational Python Programming.
                    It includes a large projects called a Django and three supporting pieces of content.
                    Use it as a starting point to create something more unique.</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <h2>Django Framework</h2>
                    <p>Simple Crud Application using django, html, css, Bootstrap, and Postgres Database.</p>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSVY2BDBcZBXeE1Es6ju4tUJqEKS9EfkKjhMQ&usqp=CAU">
                </div>

                <div class="col-md-4">
                    <h2>Flask Framework</h2>
                    <p>Simple Crud Application using Flask, html, Css, Bootstrap, and MySQL Database.</p>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR52lPBDxcsZH_urCT_ALzp0c4UuJMPjfbevA&usqp=CAU">
                </div>

                <div class="col-md-4">
                    <h2>Data Science</h2>
                    <p> Simple Information about data science libraries like NumPy, Pandas Matplotlib.</p>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRiEPTauMfCLpfWNSFlrfbumldHU0DmR-1ogg&usqp=CAU">
                </div>

            </div> <hr>
        </div>
    </main>

<!--    <footer class="container">-->
<!--      <p>&copy; Company 2017-2018</p>-->
<!--    </footer>-->


{% endblock content %}
